/* stylesheet for your custom graph */

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #888;
  stroke-opacity: .8;
}

.cross-link {
  stroke: #aaa;
  stroke-opacity: .4;
}

/* #tooltip {
    border: 1px solid #777;
}

#tooltip label {
    font-style: italic;
    font-size: 70%;
    display: block;
    float: left;
    font-weight: bold;
} */

/* .d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
} */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.counties {
  fill: none;
  stroke: #aaa;
  stroke-width: 0.2px;
  stroke-linejoin: round;
}

.states {
  fill: none;
  stroke: #777;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.active {
    fill: orange;
}

.q0 { fill: #ffffff; }
.q1 { fill: #fee5d9; }
.q2 { fill: #fcae91; }
.q3 { fill: #fb6a4a; }
.q4 { fill: #cb181d; }

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    /* padding-bottom: 100%; /* aspect ratio */ */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
