<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon.png') }}" />
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Recommendation System</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="{{ url_for('static', filename='css/material-dashboard.css') }}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{ url_for('static', filename='css/demo.css') }}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/Matrerial_Icons.css') }}" rel='stylesheet' type='text/css'>
</head>

<body>

	<div class="wrapper">
	    <div class="sidebar" data-color="green" data-image="{{ url_for('static', filename='img/sidebar-1.jpg') }}">
			<!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->

			<div class="logo">
				<div class = "row">
					<div class = "col-md-2">
					</div>
					<div class = "col-md-8">
						<a class="simple-text">
						<!-- href="http://www.creative-tim.com"  -->
							顺丰科技 <br/>物流网络分析
						</a>
					</div>
				<div class = "col-md-2">
				</div>
			</div>
			</div>
	    	<div class="sidebar-wrapper">
				<ul class="nav" style="height:80%">
					<!-- <li class = "nav-item">
						<div class="row">
    					<div class="col-lg-10 col-lg-offset-1">
								<input id="target_id_input" type = "text" class = "form-control" placeholder="Company Id">
    					</div>
						</div>
					</li> -->
					<li>
	                    <a href="recommendation">
	                        <i class="material-icons">find_in_page</i>
	                        <p>推荐系统</p>
	                    </a>
	                </li>
	                <li class="active">
	                    <a href="analysis">
	                        <i class="material-icons">insert_chart</i>
	                        <p>统计分析</p>
	                    </a>
	                </li>
	                <!-- <li>
	                    <a href="typography.html">
	                        <i class="material-icons">library_books</i>
	                        <p>记录</p>
	                    </a>
	                </li> -->

	            </ul>
							<div class = "col-lg-4 col-lg-offset-2">
							<img class="materialboxed responsive-img" width="50" height="50" src="../static/img/sflogo.png">
						</div>
						<div class="col-lg-4">
							<img class="materialboxed responsive-img" width="50" height="50"src="../static/img/gtlogo.gif">
						</div>
	    	</div>

		</div>

	    <div class="main-panel">
				<div class="content" style="height:100%">
					<div class="container-fluid" style="height:100%">
						<div class="row">
							<div class = "col-md-3" >
								<div class="row">
									<div class="col-md-12">
											<div class = "card">
												<div class = "card-content">
													<div class = "card-body" style = "position: relative">
														<h5 class="card-title">控制面板</h5>
														<form>
															<div class="form-group label-floating">
																<label class = "control-label">公司 ID</label>
																<input type="text" class="form-control" id="companyID">
															</div>
															<!-- <div class="form-group label-floating">
																<label class = "control-label" >区域</label> -->
		<!-- <div class="row">
			<div class="col-md-2">
				<input type="checkbox" id="checkbox0" name="checkbox" class="material-checkbox">
				<label class="material-checkbox-group__label" for="checkbox0">071Y</label>
			</div>
			<div class="col-md-2" >
				<input type="checkbox" id="checkbox1" name="checkbox" class="material-checkbox">
				<label class="material-checkbox-group__label" for="checkbox1">071Y</label>
			</div>
		</div> -->
																<!-- <input type="text" class="form-control" id="ReArea"> -->
															<!-- </div> -->
														</form>
														<button id="search_btn" class="btn btn-success pull-right" >输入</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class = "row">
										<div class = "col-md-12" >
											<div class = "text-center" >
													<!-- <div class = "card-body"> -->
														<ul class="list-group">
														  <a class="list-group-item">
														    <div class="bmd-list-group-col">
														      <p class="list-group-item-heading">地区</p>
														      <p class="list-group-item-text" id="comArea">(空)</p>
														    </div>
														  </a>
														  <a class="list-group-item">
														    <div class="bmd-list-group-col">
														      <p class="list-group-item-heading">行业类型</p>
														      <p class="list-group-item-text" id="comInd">(空)</p>
														    </div>
														  </a>
														  <a class="list-group-item">
														    <div class="bmd-list-group-col">
														      <p class="list-group-item-heading">日均寄件量</p>
														      <p class="list-group-item-text" id="comSendAve">(空)</p>
														    </div>
														  </a>
														  <a class="list-group-item">
														    <div class="bmd-list-group-col">
														      <p class="list-group-item-heading">波动</p>
														      <p class="list-group-item-text" id="comVar">(空)</p>
														    </div>
														  </a>
														  <a class="list-group-item">
														    <div class="bmd-list-group-col">
														      <p class="list-group-item-heading">寄件收件比</p>
														      <p class="list-group-item-text" id="comS/R">(空)</p>
														    </div>
														  </a>
														</ul>
														<!-- <h4>日均寄件量</h4>
														<h5>2</h5>
														<h4>波动</h4>
														<h5>1</h5>
														<h4>寄件收件比</h4>
														<h5>1.5</h5> -->
													<!-- </div> -->
											</div>
										</div>
									</div>
						</div>
						<div class ="col-md-4">
							<div class = "card text-center">
								<div class='card-content'>
								<div class = "card-body">
								<div class = "card-title">
									<h5>下游各行业比例</h5>
								</div>
								<div id='downEmp'>(空)</div>
								<div id="pieChart1">
								<canvas id="downPie"height = "400"></canvas>
								</div>
							</div>
						</div>
							</div>
						</div>
						<div class ="col-md-4">
							<div class = "card text-center">
								<div class='card-content'>
								<div class = "card-body">
								<div class = "card-title">
									<h5>上游各行业比例</h5>
								</div>
								<div id='upEmp'>(空)</div>
								<div id = "pieChart2">
								<canvas id="upPie" height = "400"></canvas>
								</div>
							</div>
						</div>
							</div>
						</div>
						</div>
						<div class = "row">
							<div class = "col-md-3">
							</div>
							<div class = "col-md-4">
							<div class = "card">
								<div class = "card-content">
								<div class = "card-body">
									<h5 class = "card-title text-center">
										下游公司列表
									</h5>
									<div class = 'card-text', id="downSetShowWin">
										<div class = "text-center">
										(空)
									</div>
									</div>
								</div>
							</div>
							</div>
						</div>
						<div class = "col-md-4">
							<div class = "card">
								<div class="card-content">
								<div class = "card-body">
									<h5 class = "card-title text-center">
										上游公司列表
									</h5>
									<div class = 'card-text', id="upSetShowWin">
										<div class = "text-center">
										(空)
									</div>
									</div>
								</div>
							</div>
							</div>
						</div>

						</div>
	            </div>
	        </div>

	    </div>
	</div>

</body>
	<!-- Core JS Files   -->
	<script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/material.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/underscore.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Chart.js') }}" type="text/javascript"></script>
	<!-- Notifications Plugin -->
	<script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}"></script>

	<!-- Main JS code -->
	<script src="{{ url_for('static', filename='js/maps.js') }}"></script>

	<!-- Google Maps Plugin -->
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4g1uo-ONEqqnTYMWFww-7Rxbqgve6nsA" type="text/javascript"></script> -->

	<!-- Material Dashboard javascript methods -->
	<script src="{{ url_for('static', filename='js/material-dashboard.js') }}"></script>
	<script src="{{ url_for('static', filename='js/utils.js') }}"></script>

    <script>
    	// Configuration of colorbar
    	var colorbarLength = 1000,
    		colorbar = d3.scaleLinear().domain([1,colorbarLength])
			.interpolate(d3.interpolateHcl)
			.range([d3.rgb("#007AFF"), d3.rgb("#FFF500")]);

		var searchBtn    = document.getElementById("search_btn");


		//Show city list
		var industList = ["批发和零售业", "建筑业", "农、林、牧、渔业",
											"房地产业", "政府及公共服务", "专业服务业",
											"生活服务业", "能源", "交通运输、仓储和邮政业",
											"金融业", "制造业", "医疗服务"];
		searchBtn.onclick = function(){
			var options = true;
			var backgroundColor=["rgb(255, 99, 132)","rgb(75, 192, 192)","rgb(255, 205, 86)",
													"rgb(0, 255, 255)","rgb(128, 0, 255)","rgb(179, 179, 255)",
												"rgb(0, 230, 0)","rgb(134, 0, 179)","rgb(230, 138, 0)",
											"rgb(0, 61, 153)","rgb(179, 0, 89)","rgb(0, 68, 102)"];
			var para ={companyId:document.getElementById("companyID").value};

			document.getElementById("pieChart1").innerHTML = '<canvas id="downPie"height = "400"></canvas>';
			document.getElementById("pieChart2").innerHTML = '<canvas id="upPie"height = "400"></canvas>';
			var chart1 = document.getElementById("downPie").getContext('2d'),
					chart2 = document.getElementById("upPie").getContext('2d');

			// console.log(para);
			requestBackEnd(para,'/featureVec').then(function(featureVector){
				document.getElementById("comArea").innerHTML =featureVector['area'];
				document.getElementById("comInd").innerHTML =featureVector['indust1'] +'</br> ' + featureVector['indust2'];
				document.getElementById("comSendAve").innerHTML =Number(featureVector['DayAverage']).toFixed(2);
				document.getElementById("comVar").innerHTML =Number(featureVector['Variation']).toFixed(2);
				document.getElementById("comS/R").innerHTML =Number(featureVector['SendOverRec']).toFixed(2);
				var dataDown = new Array(),
						dataUp = new Array(),
						downSet = new Array(),
						upSet = new Array();
				for (i = 0; i < 12; i++){
					dataDown.push(featureVector['toIndust' + i.toString()]);
					dataUp.push(featureVector['fromIndust' + i.toString()]);
					downSet.push(featureVector['toIndust' + i.toString()+"_set"]);
					upSet.push(featureVector['fromIndust' + i.toString()+"_set"]);
				}
				var dataDownPie = {
													    datasets: [{
													        data: dataDown,
																	backgroundColor: backgroundColor
													    }],

													    // These labels appear in the legend and in the tooltips when hovering different arcs
													    labels: industList
													},
						dataUpPie = {
															    datasets: [{
															        data: dataUp,
																			backgroundColor: backgroundColor
															    }],

															    // These labels appear in the legend and in the tooltips when hovering different arcs
															    labels: industList
															};
				document.getElementById("downEmp").innerHTML = "";
				document.getElementById("upEmp").innerHTML = "";
				var downPie = new Chart(chart1, {
					type :'pie',
					data:dataDownPie,
					options:options
				}),
				upPie = new Chart(chart2, {
					type :'pie',
					data:dataUpPie,
					options:options
				});
				showUpDownSet('to',downSet, dataDown);
				showUpDownSet('from', upSet, dataUp);
			});
		}

		function showUpDownSet(type, data, perc){

			var str = '<div class="panel-group">';
			var showWindow = type=="to"?document.getElementById("downSetShowWin"):document.getElementById("upSetShowWin");
			var indx = new Array(12);

			for (var i = 0; i<12; i++) indx[i] = i;
			indx.sort(function (a, b) { return perc[a] > perc[b] ? -1 : perc[a] < perc[b] ? 1 : 0; });
			// console.log(perc);
			// console.log(indx);
			for (ii = 0; ii < 12; ii++) {
				i = indx[ii];
				if (data[i].length ==0){
					continue;
				}

				str = str + String.format('\
							<div class="panel panel-default">\
								<div class="panel-heading">\
									<h4 class="panel-title">\
										<a data-toggle="collapse" href="#collapse{1}{0}">{2}</a>\
									</h4>\
								</div>\
								<div id="collapse{1}{0}" class="panel-collapse collapse">\
									<div class="panel-body">',i,type, industList[i]);
				for (j =0; j<data[i].length; j++){
					str = str+ data[i][j] +'</br>'
				};
				str = str + '\
									</div>\
								</div>\
							</div>';
				// 						公司 ID: {1} </br> \
				// 						主营业务: {2}</br>\
				// 						行业类型_lv1: {3}</br>\
				// 						城市: {4}</br>\
				// 						排名: {8}({7})</br>\
				// 						分数: {5}</br>\
				// 					</div>\
				// 				</div>\
				// 			</div>\
				// ',i, Rec_info_list[i]["company_id"], Rec_info_list[i]["main_business"],
				// Rec_info_list[i]["industry_lv1"],Rec_info_list[i]["city"],Rec_info_list[i]["score"],
				// type=='down'?1:0, type=='down'?"下游推荐":"上游推荐", i+1);
			}
			showWindow.innerHTML = str ;
		};
    </script>

</html>
