<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon.png') }}" />
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Recommendation System</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="{{ url_for('static', filename='css/material-dashboard.css') }}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{ url_for('static', filename='css/demo.css') }}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>

<body>

	<div class="wrapper">
	    <div class="sidebar" data-color="green" data-image="{{ url_for('static', filename='img/sidebar-1.jpg') }}">
			<!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->

			<div class="logo">
				<div class = "row">
					<div class = "col-md-2">
					</div>
					<div class = "col-md-8">
						<a href="http://www.creative-tim.com" class="simple-text">
							顺丰科技 <br/>物流网络分析
						</a>
					</div>
				<div class = "col-md-2">
				</div>
			</div>
			</div>
	    	<div class="sidebar-wrapper">
				<ul class="nav" style="height:80%">
					<!-- <li class = "nav-item">
						<div class="row">
    					<div class="col-lg-10 col-lg-offset-1">
								<input id="target_id_input" type = "text" class = "form-control" placeholder="Company Id">
    					</div>
						</div>
					</li> -->
					<li class="active">
	                    <a href="recommendation">
	                        <i class="material-icons">find_in_page</i>
	                        <p>推荐系统</p>
	                    </a>
	                </li>
	                <li>
	                    <a href="analysis">
	                        <i class="material-icons">insert_chart</i>
	                        <p>统计分析</p>
	                    </a>
	                </li>
	                <!-- <li>
	                    <a href="typography.html">
	                        <i class="material-icons">library_books</i>
	                        <p>记录</p>
	                    </a>
	                </li> -->

	            </ul>
							<div class = "col-lg-4 col-lg-offset-2">
							<img class="materialboxed responsive-img" width="50" height="50" src="../static/img/sflogo.png">
						</div>
						<div class="col-lg-4">
							<img class="materialboxed responsive-img" width="50" height="50"src="../static/img/gtlogo.gif">
						</div>
	    	</div>

		</div>

	    <div class="main-panel">
				<div class="content" style="height:100%">
					<div class="container-fluid" style="height:100%">
						<div class="row" style = "height:100%">
							<div class = "col-md-4">
								<div class="row">
									<div class="col-md-12">
											<div class = "card">
												<div class = "card-content">
													<div class = "card-body" style = "position: relative">
														<h5 class="card-title">控制面板</h5>
														<div class="checkbox">
															<label class="checkbox-inline"><input id="Down_checkbox" type="checkbox" value="Down" onclick = "DU_checkbox_click()">推荐下游</label>
															<label class="checkbox-inline"><input id="Up_checkbox" type="checkbox" value="Up" onclick = "DU_checkbox_click()">推荐上游</label>
														</div>
														<form>
															<div class="form-group label-floating">
																<label class = "control-label">公司 ID</label>
																<input type="text" class="form-control" id="CompanyID">
															</div>
															<div class="form-group label-floating">
																<label class = "control-label">推荐数量</label>
																<input type="text" class="form-control" id="ReNum">
															</div>
															<!-- <div class="form-group label-floating">
																<label class = "control-label" >区域</label> -->
		<!-- <div class="row">
			<div class="col-md-2">
				<input type="checkbox" id="checkbox0" name="checkbox" class="material-checkbox">
				<label class="material-checkbox-group__label" for="checkbox0">071Y</label>
			</div>
			<div class="col-md-2" >
				<input type="checkbox" id="checkbox1" name="checkbox" class="material-checkbox">
				<label class="material-checkbox-group__label" for="checkbox1">071Y</label>
			</div>
		</div> -->
																<!-- <input type="text" class="form-control" id="ReArea"> -->
															<!-- </div> -->
														</form>

														<div class="panel panel-default">
															<div class="panel-heading">
																<h4 class="panel-title">

																<div class="checkbox">

																	<label class="checkbox">
																	<a data-toggle="collapse" href="#collapseCityCodeCB">
																		区域
																	</a>

																			<input id="cityCodeAll" type="checkbox" onclick = "cityCodeAll()">
																			全选
																		</label>
																	</div>
																	<!-- <input type="checkbox" id="cityCodeAll" name="checkbox" class="material-checkbox" onclick = "cityCodeAll()">
																	<label class="material-checkbox-group__label" for="cityCodeAll">全选</label> -->
																</h4>
															</div>
															<div id="collapseCityCodeCB" class="panel-collapse collapse" >
																<div class="panel-body" id="cityCodePanel">
																<div id="cityCodeCheckBox">
																</div>
																</div>
															</div>
														</div>
														<button id="compute_btn" class="btn btn-success pull-right" 	disabled="disabled">输入</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class = "row">
										<div class = "col-md-12" >
											<div class = "card" >
												<div class = "card-content">
													<div class = "card-body">
														<h5 class="card-title">下游推荐列表</h5>
														<div class="card-text" id="downShowWin" >
															(空)
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class = "row height:30vh">
										<div class = "col-md-12">
											<div class = "card">
												<div class = "card-content">
													<div class = "card-body">
														<h5 class="card-title">上游推荐列表</h5>
														<div class = 'card-text', id="upShowWin">
															(空)
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
						</div>
						<div class="col-md-8" style="height:100%">
    						<div class="card" style="height:100%">
	                            <div class="card-content" style="height:100%">
	                                <div id="map"></div>
	                            </div>
	                        </div>
		    			</div>
						</div>
	            </div>
	        </div>

	    </div>
	</div>

</body>
	<!-- Core JS Files   -->
	<script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/material.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/underscore.js') }}" type="text/javascript"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>

	<!-- Notifications Plugin -->
	<script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}"></script>

	<!-- Main JS code -->
	<script src="{{ url_for('static', filename='js/maps.js') }}"></script>

	<!-- Google Maps Plugin -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4g1uo-ONEqqnTYMWFww-7Rxbqgve6nsA" type="text/javascript"></script>

	<!-- Material Dashboard javascript methods -->
	<script src="{{ url_for('static', filename='js/material-dashboard.js') }}"></script>
	<script src="{{ url_for('static', filename='js/utils.js') }}"></script>

    <script>

    	maps.initGoogleMaps("map");
    	// Configuration of colorbar
    	var colorbarLength = 1000,
    		colorbar = d3.scaleLinear().domain([1,colorbarLength])
			.interpolate(d3.interpolateHcl)
			.range([d3.rgb("#007AFF"), d3.rgb("#FFF500")]);

		// Get dom elements by their Ids
		var computeBtn    = document.getElementById("compute_btn"),
			searchWordsBtn = document.getElementById("search_words_btn"),
			Down_upCheckbox = document.getElementById("Down_checkbox")
			// getRemarksBtn  = document.getElementById("get_remarks");

		var queryMarkers = null;
		var queryLines   = null;
		var colorPointsUpStream   = new Array();
		var colorPointsDownStream = new Array();
		var areaChecked = false;

		// Onclick event for Down-up checkbox
		function DU_checkbox_click() {
		  // Get the checkbox
		  var DowncheckBox = document.getElementById("Down_checkbox"),
					UpcheckBox = document.getElementById('Up_checkbox');
		  // if one of the box checked then compute btn enable
			if ((DowncheckBox.checked == true)||(UpcheckBox.checked == true)){
				document.getElementById("compute_btn").removeAttribute("disabled");
			} else{
				document.getElementById("compute_btn").setAttribute("disabled", "disabled");
			};
		};

		//Show city list
		var cityCodeList = ["001", "010Y", "020Y", "021Y", "022Y", "023Y", "024Y", "025Y", "027Y", "028Y", "029Y", "311Y",
												"316Y", "351Y", "371Y", "395Y", "411Y", "431Y", "451Y", "471Y", "510Y", "512Y", "513Y", "517Y",
												"519Y", "531Y","532Y", "535Y", "536Y", "551Y", "553Y", "571Y", "573Y", "574Y", "575Y", "576Y",
												"577Y", "579Y", "591Y", "592Y", "594Y", "595Y", "717Y", "731Y", "734Y", "750Y", "752Y", "754Y",
												"755Y", "757Y", "760Y", "769Y", "769YS", "771Y", "791Y", "797Y", "851Y", "852Y", "871Y", "886Y",
											  "898Y", "931Y", "951Y", "991Y", "B020Y", "B021Y", "B025Y", "B027Y", "B531Y", "B571Y", "B592Y",
												"B760Y", "B769Y", "E010RDCY", "E020RDCY", "E021Y", "E027RDCY", "E028RDCY", "FRCDGY", "GBLHRY",
												"ICNA1Y", "JPTYOY", "MYKULY", "P010Y", "P020Y", "P021Y", "P022Y", "P024Y", "P025Y", "P027Y",
												"P028Y", "P029Y", "P371Y", "P451Y", "P512Y", "P532Y", "P571Y", "P592Y", "P755Y", "P852Y", "RUMOWY",
												"SINA1Y", "THBKKY", "USSFOY", "VNSGNY"];
		var str = '<div class = "row">';
		for(i=0; i<cityCodeList.length;i++){
			if ((i>0)&&(i%4==0)){
				str = str + '</div>\
				<div class = "row">'
			};
			str = str +String.format('\
				<div class="col-md-3">\
				<div class="checkbox">\
					<label class="checkbox">\
					<input id="cityCodeCheckBox{0}" type="checkbox">',i) +'</br><small>'+ cityCodeList[i] +'<small></label>\
				</div>\
				</div>'
		};
				// 	推荐下游</label>
				// </div>
				// 	<input type="checkbox" id="cityCodeCheckBox{0}" name="checkbox" class="material-checkbox">\
				// 	</br>\
				// 	<label class="material-checkbox-group__label" for="cityCodeCheckBox{0}">',i)+ cityCodeList[i] +'</label>\
				// </div>'


		str = str +'</div>';
		document.getElementById("cityCodeCheckBox").innerHTML = str;

		// Check all city Codes

		function cityCodeAll(){
			for(i=0; i<cityCodeList.length;i++){
				document.getElementById("cityCodeCheckBox"+i.toString()).checked =document.getElementById("cityCodeAll").checked;
			}
		};

		// Show recommendation list

		function showRecList(Rec_info_list, type){
			var showWindow;
			if (type=="down"){
				showWindow = document.getElementById('downShowWin');
			}else{
				showWindow = document.getElementById('upShowWin');
			};
			var str = '<div class="panel-group">';
			for (i = 0; i < Rec_info_list.length; i++) {
    		str = str + String.format('\
				      <div class="panel panel-default">\
				        <div class="panel-heading">\
				          <h4 class="panel-title">\
				            <a data-toggle="collapse" href="#collapse{3}{0}">{1}</a>\
				          </h4>\
				        </div>\
				        <div id="collapse{3}{0}" class="panel-collapse collapse">\
				          <div class="panel-body" onclick = "setCenter({0}, {6})">\
										公司 ID: {1} </br> \
										主营业务: {2}</br>\
										行业类型_lv1: {3}</br>\
										城市: {4}</br>\
										排名: {8}({7})</br>\
										分数: {5}</br>\
									</div>\
				        </div>\
				      </div>\
				',i, Rec_info_list[i]["company_id"], Rec_info_list[i]["main_business"],
				Rec_info_list[i]["industry_lv1"],Rec_info_list[i]["city"],Rec_info_list[i]["score"],
				type=='down'?1:0, type=='down'?"下游推荐":"上游推荐", i+1);
			}
			showWindow.innerHTML = str;

		};
		function setCenter(num, type){
			var center;
			console.log(colorPointsDownStream);
			if (type==1){
				center = colorPointsDownStream[num];
			}else{
				center = colorPointsUpStream[num];
			}
			maps.reCenter(center['position']);
			console.log(center['position']);
		};


		// Onclick event for search Id button
		computeBtn.onclick = function () {
			var CompanyID = document.getElementById("CompanyID"),
					downStream = document.getElementById("Down_checkbox"),
			    upStream = document.getElementById("Up_checkbox"),
					Rec_n = document.getElementById("ReNum"),
					// Rec_Area = document.getElementById("ReArea"),
					areaList = new Array();
			for(i=0; i<cityCodeList.length;i++){
				if (document.getElementById("cityCodeCheckBox" + i.toString()).checked){
					areaList.push(cityCodeList[i]);
				}
			};
			var para = {
				companyId:	CompanyID.value,
				downStream: downStream.checked?1:0, //getTime() returns number of milliseconds
				upStream: upStream.checked?1:0,		//So divided by 1000 to change to the number of seconds
				recNum: Rec_n.value,
				areas: areaList
			};
			console.log(para);
			requestBackEnd(para,"/similarCompanies").then(function(Rec_info){
				if (queryMarkers != null) {
					maps.clearMarkers(queryMarkers);
					queryMarkers = null;
				}
				document.getElementById("downShowWin").innerHTML = "(空)";
				document.getElementById("upShowWin").innerHTML = "(空)";
				var downStream = document.getElementById("Down_checkbox"),
						upStream   = document.getElementById("Up_checkbox");
				if (downStream.checked == true){
					showRecList(Rec_info['downs'],'down');
					console.log(Rec_info);
					weight = _.map(Rec_info['downs'], function(info, companyID){
						return(info['score'])
					});
					weight_max = _.max(weight);
					weight_min = _.min(weight)*0.8;
					colorPointsDownStream =  _.map(Rec_info['downs'], function(info, rank){
						// TODO: a patch for fixing wrong location info for Xi'an City
						if (info['area_code'] == "029Y"){
							info['lat'] = 34.3416;
							info['lng'] = 108.9398;
						}
						if (info['area_code'] == "760Y"){
							info['lat'] = 22.5176;
							info['lng'] = 113.3928;
						}
						if (info['area_code'] == "024Y"){
							info['lat'] = 41.8057;
							info['lng'] = 123.4315;
						}
						return{
							position: {'lat': info['lat'], 'lng': info['lng']},
							color: "blue",
							id: info["company_id"],
							mb: info['main_business'],
							os: info['is_oversea'],
							score: info['score'],
							weight: (info['score'] - weight_min)/(weight_max - weight_min),
							ind1: info['industry_lv1'],
							ind2: info['industry_lv2'],
							ind3: info['industry_lv3'],
							city: info['city'],
							coop_m: info['coop_month'],
							relation: 'Down Stream',
							rank: rank
						}
					});
				}
				if (upStream.checked == true){
					showRecList(Rec_info['ups'],'up');
					colorPointsUpStream =  _.map(Rec_info['ups'], function(info, rank){
						weight = _.map(Rec_info['ups'], function(info, companyID){
							return(info['score'])
						});
						weight_max = _.max(weight);
						weight_min = _.min(weight);
						// TODO: a patch for fixing wrong location info for Xi'an City
						if (info['area_code'] == "029Y"){
							info['lat'] = 34.3416;
							info['lng'] = 108.9398;
						}
						if (info['area_code'] == "760Y"){
							info['lat'] = 22.5176;
							info['lng'] = 113.3928;
						}
						if (info['area_code'] == "024Y"){
							info['lat'] = 41.8057;
							info['lng'] = 123.4315;
						}
						return{
							position: {'lat': info['lat'], 'lng': info['lng']},
							color: "red",
							id: info["company_id"],
							mb: info['main_business'],
							os: info['is_oversea'],
							score: info['score'],
							weight: (info['score'] - weight_min)/(weight_max - weight_min),
							ind1: info['industry_lv1'],
							ind2: info['industry_lv2'],
							ind3: info['industry_lv3'],
							city: info['city'],
							coop_m: info['coop_month'],
							relation:'Up Stream',
							rank:rank
						}
					});
				}
				var colorPoints = colorPointsUpStream.concat(colorPointsDownStream);
				console.log(colorPoints);
				queryMarkers = maps.createRecommendedMarkers(colorPoints,[]);
				// console.log(queryMarkers);
				maps.fitBound(queryMarkers);
			}, function (msg) {
				alert(msg);
			});
		};

    </script>

</html>
